html {
	margin:0;
	padding:0;
}

body{
	font-size:14px;
	color:#000000;
	background: #FFFFFF;
	margin: 0;
	background-image: url("watermark.png");
	background-position: center;
	background-repeat: no-repeat;
}
h1{
	font-size: 16px;
	text-align: center;
	font-weight: bold;
}
h1 span{
	display: block;
}
h1 small{
	font-size: 14px;
	display: block;
}
table{
	width: 100%;
}
table td{
	border: 1px solid black;
}
.input{
	border: none;
	border-bottom: 1px dotted black;
}