html {
	margin:0;
	padding:0;
}

body{
	font-size:14px;
	color:#000000;
	background: #FFFFFF;
	margin: 0;
	background-image: url("watermark.png");
	background-position: center;
	background-repeat: no-repeat;
}
h1{
	font-size: 16px;
	text-align: center;
	font-weight: bold;
}
h1 span{
	display: block;
}
h1 small{
	font-size: 14px;
	display: block;
}
table{
	width: 100%;
	margin: 0;
}
table td{
	border: 0px solid white;
}

table.form {
	border-spacing: 2mm;
}

table.form td {
	width: 50%;
	border-bottom: 2px dotted black;
	border-left: 2px dotted black;
}

.label {
	font-size: 0.8em;
	margin-bottom: 3px;
}
.input{
	color: darkblue;
	font-weight: bold;
	font-style: italic;
	font-size: 1em;
}

input {
	width: 42px;
}

p {
	margin: 0;
	margin-bottom: 4px;
}