<footer n:block="footer" class="footer" n:snippet="layout_footer">
    <div class="layout_row">
        <div class="layout_row_content">
            <span>&copy; Štěpán Škorpil</span>
        </div>
    </div>
</footer>