<header n:block="header" class="header" n:snippet="layout_header">
    <div class="layout_row">
        <div class="layout_row_content">
            <a class="brand" href="http://ldtpardubice.cz">
                <div class="logo"><img alt="Logo" src="/app/images/logo.svg"></div>
                <div class="name">Letní dětský tábor Pardubice z.s.</div>
            </a>
        </div>
    </div>
</header>