services:
    - Ticketer\Console\Commands\CronCommand
    - Ticketer\Console\Commands\GenerateUidCommand
    - Ticketer\Console\Commands\SendEarlyInvitesCommand
    - Ticketer\Console\Commands\SendCartCreatedCommand
    - Ticketer\Console\Commands\ResolveApplicationStatesCommand
