services:
    - implement: Ticketer\Model\Notifiers\IEventMessageAtachmentManagerFactory
      arguments:
          fileStorageFactory: @fileStorage.resources
    - class: Ticketer\Model\Notifiers\EmailMessageFactory
      arguments:
        - %email.from.address%
        - %email.from.name%
        - %email.replyTo.address%
        - %email.replyTo.name%
    - Ticketer\Model\Notifiers\EmailService
    - Ticketer\Model\Notifiers\EarlyWaveInviteNotifier
    - Ticketer\Model\Notifiers\CartCreatedNotifier
    - Ticketer\Model\Notifiers\SubstituteActivatedNotifier
    - Ticketer\Model\Notifiers\ReservationDelegatedNotifier
