Permission.NotSignedIn: 'Pro pokračování se musíte se přihlásit'
EarlyWave.NotFound: 'Přednostní vlna nenalezena'
Event:
    NotFound: 'Událost nenalezena'
    NotReady: 'Událost ještě nebyla zpřístupněna veřejnosti.'
    Full: 'Již nejsou žádné volné přihlášky.'
    AlreadyActivated: 'Událost již byla aktivována'
    AlreadyCancelled: 'Událost byla zrušena'
    AlreadyClosed: 'Událost již byla uzavřena'
Cart.NotFound: 'Objednávka nebyla nalezena'
Addition:
    NotFound: 'Přídavek nenalezen'
    Minimum.InvalidInput: 'Musíte zvolit minimálně %count% položku|Musíte zvolit minimálně %count% položky|Musíte zvolit minimálně %count% položek'
    Maximum.InvalidInput: 'Můžete zvolit maximálně %count% položku|Můžete zvolit maximálně %count% položky|Můžete zvolit maximálně %count% položek'
Early.NotReady: 'Přístup k registraci nebyl povolen'
Substitute.NotFound: 'Náhradníkovo místo vypršelo nebo nebylo nalezeno'
Application:
    InvalidInput: 'Přihlášky musí být ze stejné události'
    Empty: 'Musíte přidat alespoň jednu přihlášku'
Reservation:
    InvalidState: 'Jedna z přihlášek není ve stavu vhodném pro delegaci rezervace.'
    Empty: 'Nebyly vybrány vhodné přihlášky. Delegovat lze pouze přihlášky, které jsou ve stavu "Rezerovováno" nebo "Delegováno".'
    NotFound: 'Rezervace nenalezena'
Authentication:
    InvalidCredentials: 'Neplatné přihlašovací údaje'
