HintNumber: 'Můžete použít <, <=, >, >=, <>. Např.: ">= %d"'
SelectSomeRow: 'Vyberte řádek'
Invert: 'Obrátit výběr'
Items: 'Položky %d - %d z %d'
Actions: 'Akce'
Search: 'Vyhledat'
Reset: 'Resetovat'
ItemsPerPage: 'Položek na stránku'
Selected: 'Vybrané...'
EnterPage: 'Vložte stranu:'
NoResults: 'Žádné výsledky.'
ExportAllItems: 'Exportovat všechny položky'
Export: 'Export'
Paginator:
    Previous: 'Předchozí'
    Next: 'Další'
    Info: 'Strana %d z %d'
    First: 'První'
    Last: 'Poslední'