{templateType Ticketer\Modules\FrontModule\Templates\ReservationTemplate}
{block content}
<h1><i class="fa fa-calendar-o"></i> {$event->getName()}</h1>
<h2><i class="fa fa-address-book-o"></i><i class="fa fa-user-plus"></i> {_'Presenter.Front.Reservation.Register.H1'}
</h2>
{control cartForm}
