{**
 * @param EventEntity[] $events
 *}
{block content}
<h1>{$event->getName()}</h1>
<p>Všechny přihlášky již byly vydány. Může se stát, že se nějaká místa ještě uvolní. Máte-li zájem se uscházet o uvolněná místa, registrujte se mezi náhradníky. O uvolněném místě vás budme informovat emailem.</p>
<h2>Registrovat se mezi náhradníky</h2>
{control substituteForm}