#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
    database:
        driver: mysql
        host: localhost
        dbname:
        user:
        password:
    email:
        from:
            address: system@ldtpardubice.cz
            name: Přihlašovací systém LDT Pardubice z. s.
        reply:
            address: ldtmpp@email.cz
            name: Radek Vančura

php:
    date.timezone: Europe/Prague



application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter

session:
    expiration: '+ 30 days'
    #cookieDomain: '.%host%'
    name: 'APPSESSID'

services:
    - App\Model\SystemConfigurations
    - App\Model\EmailMessageFactory
    - App\Model\Facades\EventFacade
    - App\Model\Facades\EarlyFacade
    - App\Model\Facades\EarlyWaveFacade
    - App\Model\Facades\CurrencyFacade
    - App\Model\Facades\OrderFacade
    - App\Model\Facades\ApplicationFacade
    - App\Model\Facades\OptionFacade
    - App\Model\Facades\AdministratorFacade
    - App\Model\Facades\ChoiceFacade
    - App\Model\AdminAuthenticator
    - App\Controls\Forms\IOrderFormWrapperFactory
    - App\FrontModule\Controls\Forms\ISubstituteFormWrapperFactory
    - App\FrontModule\Controls\Grids\IOrderApplicationsGridWrapperFactory
    - App\AdminModule\Controls\Forms\ISignInFormWrapperFactory
    - App\AdminModule\Controls\Grids\IApplicationsGridWrapperFactory
    - App\AdminModule\Controls\Grids\ISubstitutesGridWrapperFactory
    router: App\RouterFactory::createRouter

extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    translation: Kdyby\Translation\DI\TranslationExtension
    replicator: Kdyby\Replicator\DI\ReplicatorExtension

translation:
        default: cs
        fallback: [cs]
        whitelist: [cs]

doctrine:
    host: %database.host%
    dbname: %database.dbname%
    user: %database.user%
    password: %database.password%
    metadata:
        App: %appDir%

forms:
    messages:
        EQUAL: 'Pole %label musí být %s.'
        FILLED: 'Vyplnte prosím pole %label.'
        NOT_EQUAL: 'Pole %label nesmí být %s.'
        INTEGER: 'Pole %label musí být celé číslo.'
        FLOAT: 'Pole %label musí být číslo.'
        MIN: 'Pole %label musí být větší nebo rovno %d.'
        MAX: 'Pole %label musí být menší nebo rovno %d.'
        RANGE: 'Pole %label musí být v rozsahu %d - %d.'
        LENGTH: 'Pole %label musí mít délku %d znaků.'
        MIN_LENGTH: 'Pole %label musí mít minimální %d znaků.'
        MAX_LENGTH: 'Pole %label může mít maximálně %d znaků.'
        EMAIL: 'Pole %label musí být platná emailová adresa'