#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:

php:
    date.timezone: Europe/Prague

application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter

session:
    expiration: 14 days

services:
    - App\AdminModule\Controls\Forms\SignInFormFactory
    - App\Model\Facades\AdministratorFacade
    router: App\RouterFactory::createRouter

extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    translation: Kdyby\Translation\DI\TranslationExtension

translation:
        default: cs
        fallback: [cs]
        whitelist: [cs]

doctrine:
    host: %database.host%
    dbname: %database.dbname%
    user: %database.user%
    password: %database.password%
    metadata:
        App: %appDir%

forms:
    messages:
        EQUAL: 'Zadejte prosím %s.'
        FILLED: 'Vyplnte prosím %label.'
        NOT_EQUAL: '%label nesbýt %s.'
        INTEGER: '%label musí být celé číslo.'
        FLOAT: '%label musí být číslo.'
        MIN: '%label musí být větší nebo rovno %d.'
        MAX: '%label musí být menší nebo rovno %d.'
        RANGE: '%label musí být v rozsahu %d - %d.'
        LENGTH: '%label musí mít délku %d znaků.'
        MIN_LENGTH: '%label musí mít minimální %d znaků.'
        MAX_LENGTH: '%label může mít maximálně %d znaků.'
        EMAIL: '%label musí být platná emailová adresa'