#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
    dateFormat:
        date: 'd.m.Y'
        time: 'H:i:s'
        dateTime: '%%date%% %%time%%'
    database:
        driver: mysql
        host: localhost
        dbname:
        user:
        password:
    host:
        name: Přihlašovací systém LDT Pardubice z. s.
        domain: application.ldtpardubice.cz
    email:
        from: [system@%host.domain%, %host.name%]
        replyTo: [ldtmpp@email.cz, Radek Vančura]

php:
    date.timezone: Europe/Prague

application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter

session:
    expiration: '+ 30 days'
    #cookieDomain: '.%host%'
    name: 'APPSESSID'
    autoStart: true

services:
    - App\Controls\ControlDependencies
    - App\Controls\Forms\FormWrapperDependencies
    - App\Controls\Grids\GridWrapperDependencies
    - App\Controls\Forms\ICartFormWrapperFactory
    - App\FrontModule\Controls\IOccupancyControlFactory
    - App\FrontModule\Controls\Forms\ISubstituteFormWrapperFactory
    - App\FrontModule\Controls\Grids\ICartApplicationsGridWrapperFactory
    - App\FrontModule\Responses\ApplicationPdfRenderer
    - App\AdminModule\Controls\Forms\ISignInFormWrapperFactory
    - App\AdminModule\Controls\Forms\IReserveApplicationFormWrapperFactory
    - App\AdminModule\Controls\Forms\IEventFromWrapperFactory
    - App\AdminModule\Controls\Forms\IAdditionFormWrapperFactory
    - App\AdminModule\Controls\Forms\ICurrencyFromWrapperFactory
    - App\AdminModule\Controls\Forms\IOptionFormWrapperFactory
    - App\AdminModule\Controls\Forms\IEarlyFormWrapperFactory
    - App\AdminModule\Controls\Forms\IEarlyWaveFormWrapperFactory
    - App\AdminModule\Controls\Forms\IDelegateReservationFormWrapperFactory
    - App\AdminModule\Controls\Grids\IEarlyWavesGridWrapperFactory
    - App\AdminModule\Controls\Grids\IApplicationsGridWrapperFactory
    - App\AdminModule\Controls\Grids\ISubstitutesGridWrapperFactory
    - App\AdminModule\Controls\Grids\ICartApplicationsGridWrapperFactory
    - App\AdminModule\Controls\Grids\IEventsGridWrapperFactory
    - App\AdminModule\Controls\Grids\IAdditionsGridWrapperFactory
    - App\AdminModule\Controls\Grids\ICurrenciesGridWrapperFactory
    - App\AdminModule\Controls\Grids\IOptionsGridWrapperFactory
    - App\AdminModule\Controls\Grids\IEarliesGridWrapperFactory
    - App\Model\CronService
    - App\Model\AdminAuthenticator
    - App\Model\FileStorage(%appDir%/files)
    - App\Model\ApplicationPdfManager
    - App\Model\DateFormatter(%dateFormat.date%,%dateFormat.time%,%dateFormat.dateTime%)
    - App\Model\Persistence\Dao\AdditionDao
    - App\Model\Persistence\Dao\EventDao
    - App\Model\Persistence\Dao\EarlyDao
    - App\Model\Persistence\Dao\EarlyWaveDao
    - App\Model\Persistence\Dao\CurrencyDao
    - App\Model\Persistence\Dao\CartDao
    - App\Model\Persistence\Dao\SubstituteDao
    - App\Model\Persistence\Dao\ApplicationDao
    - App\Model\Persistence\Dao\OptionDao
    - App\Model\Persistence\Dao\AdministratorDao
    - App\Model\Persistence\Dao\ChoiceDao
    - App\Model\Persistence\Dao\InsuranceCompanyDao
    - App\Model\Persistence\Dao\ReservationDao
    - App\Model\Persistence\Manager\SubstituteManager
    - App\Model\Persistence\Manager\CartManager
    - App\Model\Persistence\Manager\ChoiceManager
    - App\Model\Persistence\Manager\AdditionManager
    - App\Model\Persistence\Manager\CurrencyManager
    - App\Model\Persistence\Manager\OptionManager
    - App\Model\Persistence\Manager\EarlyManager
    - App\Model\Persistence\Manager\ReservationManager
    -
        class: App\Model\Persistence\Manager\EarlyWaveManager
        tags: [kdyby.subscriber]
    -
        class: App\Model\Persistence\Manager\EventManager
        tags: [kdyby.subscriber]
    - App\Model\Notifier\EmailMessageFactory(%email.from%, %email.replyTo%)
    - App\Model\Notifier\EmailService
    -
        class: App\Model\Notifier\EarlyWaveInviteNotifier
        tags: [kdyby.subscriber]
    -
        class: App\Model\Notifier\CartCreatedNotifier
        tags: [kdyby.subscriber]
    -
        class: App\Model\Notifier\SubstituteActivatedNotifier
        tags: [kdyby.subscriber]
    -
        class: App\Model\Notifier\ReservationDelegatedNotifier
        tags: [kdyby.subscriber]
    -
        class: App\Model\OccupancyIcons
        setup:
            - addIcon('bed')
            - addIcon('bus')
    router: App\RouterFactory::createRouter

extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    translation: Kdyby\Translation\DI\TranslationExtension
    replicator: Kdyby\Replicator\DI\ReplicatorExtension

translation:
    default: cs_CZ
    fallback: [cs_CZ]
    whitelist: [cs_CZ]
    resolvers:
        session: on
        request: on
        header: on

doctrine:
    host: %database.host%
    dbname: %database.dbname%
    user: %database.user%
    password: %database.password%
    metadata:
        App: %appDir%
    namingStrategy: App\Model\Persistence\Doctrine\NamingStrategy

forms:
    messages:
        EQUAL: 'Form.Rule.Equal'
        FILLED: 'Form.Rule.Filled'
        NOT_EQUAL: 'Form.Rule.NotEqual'
        INTEGER: 'Form.Rule.Integer'
        FLOAT: 'Form.Rule.Float'
        MIN: 'Form.Rule.Min'
        MAX: 'Form.Rule.Max'
        RANGE: 'Form.Rule.Range'
        LENGTH: 'Form.Rule.Length'
        MIN_LENGTH: 'Form.Rule.MinLength'
        MAX_LENGTH: 'Form.Rule.MaxLength'
        EMAIL: 'Form.Rule.Email'

tracy:
    email: stopka@ldtpardubice.cz

http:
    frames: yes