extensions:
    nettrine.dbal: Nettrine\DBAL\DI\DbalExtension
    nettrine.dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension

nettrine.dbal:
	debug:
		panel: %debugMode%
	configuration:
		sqlLogger: Nettrine\DBAL\Logger\PsrLogger(@Monolog\Logger)
	connection:
		driver: %database.driver%
		host: %database.host%
		user: %database.user%
		password: %database.password%
		dbname: %database.dbname%
		charset: utf8mb4
		types:
			uuid: Ticketer\Model\Database\Doctrine\Types\UuidType
			gender_enum: Ticketer\Model\Database\Doctrine\Types\Enums\GenderEnumType
			event_state_enum: Ticketer\Model\Database\Doctrine\Types\Enums\EventStateEnumType
			reservation_state_enum: Ticketer\Model\Database\Doctrine\Types\Enums\ReservationStateEnumType
			application_state_enum: Ticketer\Model\Database\Doctrine\Types\Enums\ApplicationStateEnumType
			option_autoselect_enum: Ticketer\Model\Database\Doctrine\Types\Enums\OptionAutoselectEnumType
			substitute_state_enum: Ticketer\Model\Database\Doctrine\Types\Enums\SubstituteStateEnumType

