{layout '../../presenters/templates/@layout.latte'}
{block header}
    {include #parent}
    <div n:if="$administratorEntity" class="layout_row" id="user_block">
        <div n:if="$administratorEntity" class="layout_row_content">
            <span>{$administratorEntity->getFullName()}</span>
            <a n:href="Sign:out">
                <i class="fa fa-sign-out"></i>
                <span>Odhlásit</span>
            </a>
        </div>
    </div>
{/block}