{layout "../@setting.latte"}
{block subcontent}
<h2><i class="fa fa-btc"></i> Měny</h2>
<p>
    <a n:href="Currency:add"><i class="fa fa-plus-circle"></i> Vytvořit měnu</a>
</p>
{control currenciesGrid}