{layout "../@eventEdit.latte"}
{block subcontent}
<h2 n:if="$event"><i class="fa fa-pencil"></i> {_'Presenter.Admin.Event.Edit.H1'}</h2>
<h2 n:if="!$event"><i class="fa fa-plus-circle"></i> {_'Presenter.Admin.Event.Add.H1'}</h2>

{control eventForm}