Id: ID
Name: Název
State: Stav
Default: Výchozí
Created: Vytvořeno
Count: Počet
Link: Odkaz
Detail: Detail
Boolean:
    'Yes': Ano
    'No': Ne
Address:
    Address: Addresa
    AddressNumber: Adresa
    City: Město
    Zip: PSČ
    Country: Stát
Person:
    Person: Osoba
    FullName: Celé jméno
    FirstName: Jméno
    Username: Uživatelské jméno
    LastName: Příjmení
    Password: Heslo
    Gender: Pohlaví
    BirthDate: Datum narození
    Email: Email
    Phone: Telefon
    Type:
        User: Uživatel
        Administrator: Administrátor
        Customer: Zákazník
        Early: Přednostník
        Earlies: 'Přednostníci'
        Substitute: Náhradník
        Substitutes: Náhradníci
Addition:
    ForState:
        Reserved: 'Závaznou rezervaci'
        Fulfilled: 'Celkové dokončení'
    Addition: Přídavek
    Additions: Přídavky
    RequiredForState: Vyžadováno pro
    EnoughForState: Dostatečné pro
    Visible: Viditelné v registraci
    Hidden: Schovat v náhledu
    Minimum: Minimum
    Maximum: Maximum
    Choice: Volba
    Choices: Volby
    Payed: Zaplaceno
    Option: Možnost
    Options: Možnosti přídavku
Event:
    Event: Událost
    Events: Události
    Capacity: Kapacita
    CapacityFull: Kapacita naplněna
    StartDate: Datum začátku
    Public: Veřejný výdej
    EndDate: Datum konce
    Occupancy: Obsazenost
    OccupancyIcon: Ikona obsazenosti
    EarlyWave: Přednostní vlna
    InviteSent: Poznvánka rozeslána
    Application: Přihláška
    Applications: Přihlášky
    Cart: Objednávka
    Registration: Registrace
    State:
        State: Stav
        Inactive: Neaktivní
        Active: Aktivní
        Closed: Dokončeno
        Cancelled: Zrušeno
Price:
    Price: Cena
    Amount: Částka
Currency:
    Currency: Měna
    Currencies: Měny
    Symbol: Symbol
    Code: Kód
Application:
    Count: Počet přihlášek
    State:
        State:  'Stav'
        Waiting: 'Čeká'
        Reserved: 'Rezervováno'
        Fulfilled: 'Splněno'
        Cancelled: 'Zrušeno'
Substitute:
    State:
        State: 'Stav'
        Waiting: 'Ve frontě'
        Active: 'Přijatý'
        Overdue: 'Prošlý'
        Ordered: 'Registrovaný'
OccupancyIcon:
    None: Žádná
    Bus: Autobus
    Bed: Postel