Id: ID
Name: Název
State: Stav
Default: Výchozí
Created: Vytvořeno
Count: počet
Link: Odkaz
Address:
    Address: Addresa
    AddressNumber: Adresa
    City: Město
    Zip: PSČ
    Country: Stát
Person:
    Person: Osoba
    FullName: Celé jméno
    FirstName: Jméno
    Username: Uživatelské jméno
    LastName: Příjmení
    Password: Heslo
    Gender: Pohlaví
    BirthDate: Datum narození
    Email: Email
    Phone: Telefon
    Type:
        User: Uživatel
        Administrator: Administrátor
        Customer: Zákazník
        Early: Přednostník
        Earlies: 'Přednostníci'
        Substitute: Náhradník
        Substitutes: Náhradníci
Addition:
    ForState:
        Reserved: 'Závaznou rezervaci'
        Fulfilled: 'Celkové dokončení'
    Addition: Přídavek
    Additions: Přídavky
    RequiredForState: Vyžadováno pro
    EnoughForState: Dostatečné pro
    Visible: Viditelné v registraci
    Hidden: Schovat v náhledu
    Minimum: Minimum
    Maximum: Maximum
    Choice: Volba
    Choices: Volby
    Payed: Zaplaceno
    Option: Možnost
    Options: Možnosti přídavku
Event:
    Event: Událost
    Events: Události
    Capacity: Kapacita
    CapacityFull: Kapacita naplněna
    StartDate: Datum začátku
    EndDate: Datum konce
    Occupancy: Obsazenost
    OccupancyIcon: Ikona obsazenosti
    EarlyWave: Přednostní vlna
    InviteSent: Poznvánka rozeslána
    Application: Přihláška
    Applications: Přihlášky
    Cart: Objednávka
    Registration: Registrace
Price:
    Price: Cena
    Amount: Částka
Currency:
    Currency: Měna
    Currencies: Měny
    Symbol: Symbol
    Code: Kód
OccupancyIcon:
    None: Žádná
    Bus: Autobus
    Bed: Postel