Permission.NotSignedIn: 'Pro pokračování se musíte se přihlásit'
EarlyWave.NotFound: 'Přednostní vlna nenalezena'
Event:
    NotFound: 'Událost nenalezena'
    NotReady: 'Událost ještě nebyla zpřístupněna veřejnosti.'
    Full: 'Již nejsou žádné volné přihlášky.'
    AlreadyActivated: 'Událost již byla aktivována'
    AlreadyCancelled: 'Událost byla zrušena'
    AlreadyClosed: 'Událost již byla uzavřena'
Cart.NotFound: 'Objednávka nebyla nalezena'
Addition.NotFound: 'Přídavek nenalezen'
Early.NotReady: 'Přístup k registraci nebyl povolen'
Substitute.NotFound: 'Náhradníkovo místo vypršelo nebo nebylo nalezeno'
Reservation:
    Application:
        InvalidInput: 'Přihlášky musí být ze stejné události'
        InvalidState: 'Jedna z přihlášek není ve stavu vhodném pro delegaci rezervace.'
        Empty: 'Chybí přihlášky.'