Message:
    MoveUp.Success: 'Položka byla úspšně posunuta nahoru'
    MoveDown.Success: 'Položka byla úspšně posunuta dolu'
    Delete.Success: 'Položka byla úspšně smazána'
Rule:
    Equal: 'Pole %label musí být %s.'
    Filled: 'Vyplnte prosím pole %label.'
    NorEqual: 'Pole %label nesmí být %s.'
    Integer: 'Pole %label musí být celé číslo.'
    Float: 'Pole %label musí být číslo.'
    Min: 'Pole %label musí být větší nebo rovno %d.'
    Max: 'Pole %label musí být menší nebo rovno %d.'
    Range: 'Pole %label musí být v rozsahu %d - %d.'
    Length: 'Pole %label musí mít délku %d znaků.'
    MinLength: 'Pole %label musí mít minimální %d znaků.'
    MaxLength: 'Pole %label může mít maximálně %d znaků.'
    Email: 'Pole %label musí být platná emailová adresa.'
    Date: 'Pole %label není ve správném tvaru data.'
Action:
    Edit: Upravit
    Create: Vytvořit
    Save: Uložit
    SignIn: Přihlásit se
    SignOut: Odhlásit se
    Reserve: 'Rezervovat'
    Switch: 'Přepnout'
    Activate: 'Aktivovat'
    Deactivate: 'Deaktivovat'
    Cancel: 'Zrušit'
    Close: 'Uzavřít'
    MoveUp: 'Přesunout výš'
    MoveDown: 'Přesunout níž'
    Delete: 'Smazat'
    Detail: Detail
SignIn.Message.Success: 'Přihlášení bylo úspěšné.'
Entity:
    Message:
        MoveUp.Success: 'Položka byla úspěšně přesunuta výš.'
        MoveDown.Success: 'Položka byla úspěšně přesunuta níž.'
        Delete.Success: 'Položka byla úspěšně smazána.'
        Delete.Confirm: 'Opravdu chcete smazat položku "%name%"?'
Reservation:
    Description:
        Delegated: 'Chcete přihlášky rovnou delegovat konkrétní osobě? Delegovat rezervované přihlášky lze i později.'
        DelegatedPerson: 'Osoba, které chcete přihlášky delegovat.'
        Email: 'Na tento email bude automaticky odeslán email s instrukcemi pro vyplnění rezervované přihlášky.'
    Label:
        Delegated: 'Delegovat'
        DelegatedPerson: 'Delegovaná osoba'
EarlyWave:
    Description:
        StartDate: 'Kdy se rozešlou přihlášky a uživatelé se vpustí do registrace?'
    Message:
        Edit.Success: 'Vlna byla upravena.'
        Create.Success: 'Vlna byla vytvořena.'
Addition:
    Description:
        Maximum: 'Kolik možností může uživatel při registraci maximálně zvolit?'
        Minimum: 'Kolik možností musí uživatel při registraci minimálně zvolit?'
        Visible: 'Kde má být přídavek vidět?'
        EnoughForState: 'Splnění tohoto přídavku je dostatečné pro přechod přihlášky do zvoleného stavu.'
        RequiredForState: 'Splnění tohoto přídavku je povinné pro přechod přihlášky do zvoleného stavu.'
    Message:
        Edit.Success: 'Přídavek byl upraven.'
        Create.Success: 'Přídavek byl vytvořen.'
Application:
    TotalPrice: Celkem za přihlášku
Cart:
    Message:
        Edit.Success: 'Objednávka byla upravena.'
        Create.Success: 'Registarce byla vytvořena. Přihlášky byly odeslány emailem.'
    TotalPrice: Celková cena
Currency:
    Rule:
        Code.Pattern: 'Kód musí sestávat ze 3 velkých písmen'
    Description:
        Code: 'Třípísmenný kód měny podle standardu ISO 4217'
        Symbol: 'Běžně užívaný symbol měny'
    Message:
        Edit.Success: 'Měna byla upravena'
        Create.Success: 'Měna byla vytvořena'
Early:
    EarlyWave:
        CreateNew: 'Vytvořit novou'
    Group:
        NewEarlyWave: 'Nová vlna přednostníků'
    Description:
        EarlyWave: 'Přidejte přednostníka do již existující vlny, nebo vytvořte vlnu novou'
        StartDate: 'Kdy se rozešlou přihlášky a uživatelé se vpustí do registrace'
    Message:
        Edit.Success: 'Přednostník byl upraven'
        Create.Success: 'Přednostník byl vytvořen'
Event:
    Attribute:
        Public: 'Veřejný výdej'
        LimitCapacity: 'Omezit kapacitu'
    Description:
        StartDate: 'Od kdy budou přihlášky dostupné široké veřejnosti'
        Public: 'Vydávat přihlášky široké veřejnosti'
        Capacity: 'Celkové maximum míst v události'
        LimitCapacity: 'Vydat jen určitý počet lístků'
    Message:
        Edit.Success: 'Událost byla upravena'
        Create.Success: 'Událost byla vytvořena'
Option:
    Group:
        PriceSetting: 'Nastavení ceny'
    Attribute:
        SetPrice: 'Nastavit cenu'
        LimitCapacity: 'Omezit kapacitu'
    Description:
        LimitCapacity: 'Možnost bude dostupná veřejné registraci do vyčerpání kapacity'
        Capacity: 'Kolik příhlášek může mít zvolenou tuto možnost'
        Amount: 'Částka v měně %currency%'
        SetPrice: 'Pokud je tato cena za příplatek, zvolte tuto možnost'
    Message:
        Edit.Success: 'Možnost byla upravena'
        Create.Success: 'Možnost byla vytvořena'
Reserve:
    Message:
        Create.Success: 'Přihlášky byly vytvořeny'
Substitute:
    Message:
        Create.Success: 'Byl(a) jste úspěšně zapsán(a) mezi náhradníky'