{templateType Ticketer\Templates\BaseTemplate}
<div class="layout_row" id="header">
    <div class="layout_row_content">
        <a class="brand" href="http://ldtpardubice.cz">
            <div class="logo"><img alt="Logo" src="{$basePath}/app/images/logo.svg"></div>
            <div class="name">Letní dětský tábor Pardubice z.s.</div>
        </a>
    </div>
</div>
