{layout "../@event.latte"}
{block subcontent}
    <h2><i class="fa fa-star"></i> {_'Entity.Plural.Early'}</h2>
    <p>
        <a n:href="Early:add,$event->getId()"><i class="fa fa-plus-circle"></i> {_'Presenter.Admin.Early.Add.H1'}</a>
    </p>
    {control earliesGrid}