{layout "../@event.latte"}
{block subcontent}
    <h2><i class="fa fa-star"></i> Přednostníci</h2>
    <p>
        <a n:href="Early:add,$event->getId()"><i class="fa fa-plus-circle"></i> Přidat přednostníka</a>
    </p>
    {control earliesGrid}