{layout '../@event.latte'}
{block subcontent}
<h2>Přihlášky</h2>
<p>
    <a n:href="reserve,$event->getId()"><i class="fa fa-address-book-o"></i> Rezervovat přihlášky</a>
</p>
{control applicationsGrid}