{templateType Ticketer\Modules\FrontModule\Templates\SubstituteTemplate}
{block content}
<h1><i class="fa fa-calendar-o"></i> {$event->getName()}</h1>
<h2><i class="fa fa-retweet"></i><i class="fa fa-user-plus"></i> {_'Presenter.Front.Substitute.Register.H1'}</h2>
{control cartForm}
