{**
 * @param EventEntity[] $events
 *}
{block content}
<h1><i class="fa fa-event-o"></i> {$cart->getEvent()->getName()}</h1>
<h2><i class="fa fa-shopping-cart"></i><i class="fa fa-pencil"></i> Úprava objednávky</h2>
{control cartForm}