{block content}
<h1><i class="fa fa-calendar"></i> {_'Entity.Event.Events'}</h1>
<p>
    <a n:href="Event:add"><i class="fa fa-plus-circle"></i> {_'Presenter.Admin.Event.Add.H1'}</a>
    <a n:href="Currency:default"><i class="fa fa-wrench"></i> {_'Presenter.AdminLayout.Setting.H1'}</a>
</p>
{control eventsGrid}