{**
 * @param EventEntity[] $events
 *}
{block content}
<h1><i class="fa fa-calendar-o"></i> {$event->getName()}</h1>
<h2><i class="fa fa-user-plus"></i> {_'Presenter.Front.Early.Register.H2'}</h2>
{control cartForm}