{define title}
    <i n:if="$node->getIcon()" class="{$node->getIcon()}"></i>
    <span>{$node->getTitle()}</span>
{/define}


{if $node->getUrl() && $showlink}
    <a href="{$node->getUrl()}">
        {include #title}
    </a>
{else}
    <span>
        {include #title}
    </span>
{/if}

