{**
 * @param EventEntity[] $events
 *}
{block content}
<h1><i class="fa fa-calendar-o"></i> {$event->getName()}</h1>
<p>{_'Presenter.Front.Early.Substitute.EventFull'}</p>
<h2><i class="fa fa-retweet"></i><i class="fa fa-user-plus"></i> {_'Presenter.Front.Early.Substitute.H2'}</h2>
{control substituteForm}