parameters:
    timezone: Europe/Prague
    format:
        date: 'Y-m-d'
        time: 'H:i:s'
        dateTime: '%%date%% %%time%%'
    database:
        driver: pdo_mysql
        host: localhost
        dbname: event_ticketer
        user: root
        password: ''
    host:
        name: Event ticketer
        domain: ticketer.localhost
    email:
        from:
            address: system@%host.domain%
            name: %host.name%
        replyTo:
            address: %email.from.address%
            name: null
    api:
        users: []
        authTokens: []
    debugger:
        emails: []
