includes:
    - services/controls.neon
    - services/console.neon
    - services/model.neon

services:
    - Ticketer\Responses\PdfResponse\PdfResponseDependencies(%tempDir%/mpdf)
    - Ticketer\Responses\PdfResponse\PdfResponseFactoryInterface
    - Ticketer\Modules\FrontModule\Responses\ApplicationPdfResponse
    router: Ticketer\Routers\RouterFactory::createRouter
    - Ticketer\Presenters\BasePresenterDependencies
    - Ticketer\Modules\ApiModule\Presenters\BasePresenterDependencies
    - Ticketer\Modules\AdminModule\Presenters\BasePresenterDependencies
    - Ticketer\Modules\FrontModule\Presenters\BasePresenterDependencies
    - SensioLabs\AnsiConverter\AnsiToHtmlConverter
    - Ticketer\Modules\ApiModule\Http\ApiHttpAuthenticator(%api.users%)
