services:
    - Stopka\NetteMenuControl\MenuFactory
    - Ticketer\Controls\ControlDependencies
    - Ticketer\Controls\Forms\FormWrapperDependencies
    - Ticketer\Controls\Grids\GridWrapperDependencies
    - Ticketer\Controls\Forms\ICartFormWrapperFactory
    - Ticketer\Controls\Forms\IAdditionsControlsBuilderFactory
    - Ticketer\Modules\FrontModule\Controls\IOccupancyControlFactory
    - Ticketer\Modules\FrontModule\Controls\Forms\ISubstituteFormWrapperFactory
    - Ticketer\Modules\FrontModule\Controls\Grids\ICartApplicationsGridWrapperFactory
    - Ticketer\Responses\PdfResponse\PdfResponseDependencies(%tempDir%/mpdf)
    - Ticketer\Responses\PdfResponse\PdfResponseFactoryInterface
    - Ticketer\Modules\FrontModule\Responses\ApplicationPdfResponse
    - Ticketer\Modules\FrontModule\Controls\Menus\MenuFactory
    - Ticketer\Modules\AdminModule\Controls\Forms\ISignInFormWrapperFactory
    - Ticketer\Modules\AdminModule\Controls\Forms\IReserveApplicationFormWrapperFactory
    - Ticketer\Modules\AdminModule\Controls\Forms\IEventFromWrapperFactory
    - Ticketer\Modules\AdminModule\Controls\Forms\IAdditionFormWrapperFactory
    - Ticketer\Modules\AdminModule\Controls\Forms\ICurrencyFromWrapperFactory
    - Ticketer\Modules\AdminModule\Controls\Forms\IOptionFormWrapperFactory
    - Ticketer\Modules\AdminModule\Controls\Forms\IEarlyFormWrapperFactory
    - Ticketer\Modules\AdminModule\Controls\Forms\IEarlyWaveFormWrapperFactory
    - Ticketer\Modules\AdminModule\Controls\Forms\IDelegateReservationFormWrapperFactory
    - Ticketer\Modules\AdminModule\Controls\Grids\IEarlyWavesGridWrapperFactory
    - Ticketer\Modules\AdminModule\Controls\Grids\IApplicationsGridWrapperFactory
    - Ticketer\Modules\AdminModule\Controls\Grids\ISubstitutesGridWrapperFactory
    - Ticketer\Modules\AdminModule\Controls\Grids\ICartApplicationsGridWrapperFactory
    - Ticketer\Modules\AdminModule\Controls\Grids\IEventsGridWrapperFactory
    - Ticketer\Modules\AdminModule\Controls\Grids\IAdditionsGridWrapperFactory
    - Ticketer\Modules\AdminModule\Controls\Grids\ICurrenciesGridWrapperFactory
    - Ticketer\Modules\AdminModule\Controls\Grids\IOptionsGridWrapperFactory
    - Ticketer\Modules\AdminModule\Controls\Grids\IEarliesGridWrapperFactory
    - Ticketer\Modules\AdminModule\Controls\Forms\IDelegateReservationControlsBuilderFactory
    - Ticketer\Modules\AdminModule\Controls\Menus\MenuFactory
    - Ticketer\Model\Cron\CronService
    - Ticketer\Model\Authenticators\AdminAuthenticator
    - Ticketer\Model\FileStorageFactory(%appDir%/resources)
    - Ticketer\Model\Notifiers\IEventMessageAtachmentManagerFactory
    - Ticketer\Model\GeneratingApplicationPdfManager
    - Ticketer\Model\DateFormatter(%format.date%,%format.time%,%format.dateTime%)
    - Ticketer\Model\Database\Daos\AdditionDao
    - Ticketer\Model\Database\Daos\EventDao
    - Ticketer\Model\Database\Daos\EarlyDao
    - Ticketer\Model\Database\Daos\EarlyWaveDao
    - Ticketer\Model\Database\Daos\CurrencyDao
    - Ticketer\Model\Database\Daos\CartDao
    - Ticketer\Model\Database\Daos\SubstituteDao
    - Ticketer\Model\Database\Daos\ApplicationDao
    - Ticketer\Model\Database\Daos\OptionDao
    - Ticketer\Model\Database\Daos\AdministratorDao
    - Ticketer\Model\Database\Daos\ChoiceDao
    - Ticketer\Model\Database\Daos\InsuranceCompanyDao
    - Ticketer\Model\Database\Daos\ReservationDao
    - Ticketer\Model\Database\Managers\SubstituteManager
    - Ticketer\Model\Database\Managers\CartManager
    - Ticketer\Model\Database\Managers\ChoiceManager
    - Ticketer\Model\Database\Managers\AdditionManager
    - Ticketer\Model\Database\Managers\CurrencyManager
    - Ticketer\Model\Database\Managers\OptionManager
    - Ticketer\Model\Database\Managers\EarlyManager
    - Ticketer\Model\Database\Managers\ReservationManager
    - Ticketer\Model\Database\Managers\ApplicationManager
    - Ticketer\Model\Database\Managers\AdministratorManager
    - Ticketer\Model\Database\Managers\EventManager
    - Ticketer\Model\Database\Managers\EarlyWaveManager
    - Ticketer\Model\Notifiers\EmailMessageFactory(%email.from%, %email.replyTo%)
    - Ticketer\Model\Notifiers\EmailService
    - Ticketer\Model\Notifiers\EarlyWaveInviteNotifier
    - Ticketer\Model\Notifiers\CartCreatedNotifier
    - Ticketer\Model\Notifiers\SubstituteActivatedNotifier
    - Ticketer\Model\Notifiers\ReservationDelegatedNotifier
    -
        class: Ticketer\Model\OccupancyIcons
        setup:
            - addIcon('dot', null, 'fa fa-circle')
            - addIcon('ticket', null, 'fa fa-ticket')
            - addIcon('bed', null, 'fa fa-bed')
            - addIcon('bus', null, 'fa fa-bus')
    - Ticketer\Console\Commands\CronCommand
    - Ticketer\Console\Commands\GenerateUidCommand
    - Ticketer\Console\Commands\SendEarlyInvitesCommand
    - Ticketer\Console\Commands\SendCartCreatedCommand
    router: Ticketer\Routers\RouterFactory::createRouter
    - Ticketer\Presenters\BasePresenterDependencies
    - Ticketer\Modules\ApiModule\Presenters\BasePresenterDependencies
    - Ticketer\Modules\AdminModule\Presenters\BasePresenterDependencies
    - Ticketer\Modules\FrontModule\Presenters\BasePresenterDependencies
