includes:
    - services/controls.neon
    - services/console.neon
    - services/model.neon

services:
    - Ticketer\Responses\PdfResponse\PdfResponseDependencies(%tempDir%/mpdf)
    - Ticketer\Responses\PdfResponse\PdfResponseFactoryInterface
    - Ticketer\Modules\FrontModule\Responses\ApplicationPdfResponse
    router: Ticketer\Routers\RouterFactory::createRouter
    - Ticketer\Presenters\BasePresenterDependencies
    - class: Ticketer\Modules\ApiModule\Presenters\BasePresenterDependencies
      arguments:
          httpAuthenticator: @api.authenticator.composite
    - Ticketer\Modules\AdminModule\Presenters\BasePresenterDependencies
    - Ticketer\Modules\FrontModule\Presenters\BasePresenterDependencies
    - SensioLabs\AnsiConverter\AnsiToHtmlConverter
    api.authenticator.basic: Ticketer\Modules\ApiModule\Http\BasicHttpAuthenticator(%api.users%)
    api.authenticator.token: Ticketer\Modules\ApiModule\Http\TokenAuthenticator(%api.authTokens%)
    api.authenticator.composite:
        class: Ticketer\Modules\ApiModule\Http\CompositeAuthenticator
        arguments:
            authenticators:
                - @api.authenticator.token
                - @api.authenticator.basic
