html {
	margin: 0;
	padding: 0;
}
body{
	padding: 5px;
}
h1{
	margin: 0 5px 0 0;
	padding: 0;
	vertical-align: middle;
	display: inline-block;
}

h2 {
	vertical-align: middle;
	margin: 0;
	padding: 0;
	display: inline-block;
}
hr{
	border: 1px solid lightgrey;
	border-width: 1px 0 0 0;
}
.clear{
	clear: both;
}

h3{
	margin: 0;
	padding: 0;
}

p{
	margin: 0;
}

::-webkit-scrollbar {
	width: 12px;
}

/* Scrollbars */
::-webkit-scrollbar{
	background-color: rgba(0, 0, 0, 0.04);
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-button{
	display: none;
}
::-webkit-scrollbar-track{
	background: none;
}
::-webkit-scrollbar-track-piece{
	background: none;
}
::-webkit-scrollbar-thumb{
	background-color: rgba(0, 0, 0, 0.16);
	border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover{
	background-color: rgba(42, 128, 185, 0.3);
	border-radius: 3px;
}
::-webkit-scrollbar-corner{
	background-color: rgba(0, 0, 0, 0.16);
}
::-webkit-resizer{
	background: none;
}
a{
	color: #2a80b9;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
a[href^=error] {
	color: red !important;
	background: yellow;
	border: yellow;
}

legend{
	padding: 5px;
	font-weight: bolder;
}

fieldset{
	border: 1px solid #2c3e50;
	margin-bottom: 5px;
	padding: 0 5px 5px 5px;
}

.occupancy_visual .occupancy-item {
	display: inline-block;
	margin: 2px;
	color: #BF360C;
}

.occupancy_visual .occupancy-item.issued .occupancy-icon {
	opacity: 0.6;
	color: #0D47A1;
}

.occupancy_visual .occupancy-item.free .occupancy-icon {
	opacity: 0.2;
	color: #1B5E20;
}