{layout "../@eventEdit.latte"}
{block subcontent}
    <h2><i class="fa fa-archive"></i> {_'Entity.Plural.Addition'}</h2>
    <p>
        <a n:href="Addition:add,$event->getId()"><i class="fa fa-plus-circle"></i> {_'Presenter.Admin.Addition.Add.H1'}</a>
    </p>
    {control additionsGrid}