{layout "../@eventEdit.latte"}
{block subcontent}
    <h2><i class="fa fa-archive"></i> Přídavky</h2>
    <p>
        <a n:href="Addition:add,$event->getId()"><i class="fa fa-plus-circle"></i> Vytvořit přídavek</a>
    </p>
    {control additionsGrid}