{layout "../@additionEdit.latte"}
{block subcontent}
    <h2><i class="fa fa-list-ul"></i> Možnosti přídavku</h2>
    <p>
        <a n:href="Option:add,$addition->getId()"><i class="fa fa-plus-circle"></i> Vytvořit možnost</a>
    </p>
    {control optionsGrid}